<%= form_for(@tweets_hastag) do |f| %>
  <% if @tweets_hastag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweets_hastag.errors.count, "error") %> prohibited this tweets_hastag from being saved:</h2>

      <ul>
      <% @tweets_hastag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_tweet %><br>
    <%= f.text_area :id_tweet %>
  </div>
  <div class="field">
    <%= f.label :id_hastag %><br>
    <%= f.text_area :id_hastag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
