<p id="notice"><%= notice %></p>

<p>
  <strong>Id tweet:</strong>
  <%= @tweets_hastag.id_tweet %>
</p>

<p>
  <strong>Id hastag:</strong>
  <%= @tweets_hastag.id_hastag %>
</p>

<%= link_to 'Edit', edit_tweets_hastag_path(@tweets_hastag) %> |
<%= link_to 'Back', tweets_hastags_index_path %>
