<%= form_for(@palabraclafe) do |f| %>
  <% if @palabraclafe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@palabraclafe.errors.count, "error") %> prohibited this palabraclafe from being saved:</h2>

      <ul>
      <% @palabraclafe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_palabra %><br>
    <%= f.text_area :id_palabra %>
  </div>
  <div class="field">
    <%= f.label :id_tweet_palabra %><br>
    <%= f.text_area :id_tweet_palabra %>
  </div>
  <div class="field">
    <%= f.label :palabra_tweet %><br>
    <%= f.text_area :palabra_tweet %>
  </div>
  <div class="field">
    <%= f.label :intencion %><br>
    <%= f.text_area :intencion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
