<p id="notice"><%= notice %></p>

<p>
  <strong>Etiqueta:</strong>
  <%= @hastag.etiqueta %>
</p>

<p>
  <strong>Intencion:</strong>
  <%= @hastag.intencion %>
</p>

<%= link_to 'Edit', edit_hastag_path(@hastag) %> |
<%= link_to 'Back', hastags_path %>
