<h1>Listing tweets_palabras</h1>

<table>
  <thead>
    <tr>
      <th>Id tweet</th>
      <th>Id palabra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets_palabras.each do |tweets_palabra| %>
      <tr>
        <td><%= tweets_palabra.id_tweet %></td>
        <td><%= tweets_palabra.id_palabra %></td>
        <td><%= link_to 'Show', tweets_palabra %></td>
        <td><%= link_to 'Edit', edit_tweets_palabra_path(tweets_palabra) %></td>
        <td><%= link_to 'Destroy', tweets_palabra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweets palabras', new_tweets_palabra_path %>
